<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secretaria Escolar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/src/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <button class="btn-logout"><i class="fas fa-sign-out-alt"></i></button>
    <h2>Secretaria Escolar</h2>
    <div class="container">
        
        <div class="card-wrapper">
            <a href="/cadastro-aluno" class="card card-link">
                <i class="fas fa-user-plus mb-3"></i>
                <h2>Cadastro de Aluno</h2>
            </a>
            <a href="" class="btn btn-roxo">Ver Alunos</a>
        </div>
        <div class="card-wrapper">
            <a href="/cadastro-turma" class="card card-link">
                <i class="fas fa-users mb-3"></i>
                <h2>Cadastro de Turma</h2>
            </a>
            <a href="" class="btn btn-roxo">Ver Turmas</a>
        </div>
        <div class="card-wrapper">
            <a href="/cadastro-professor" class="card card-link">
                <i class="fas fa-chalkboard-teacher mb-3"></i>
                <h2>Cadastro de Professor</h2>
            </a>
            <a href="" class="btn btn-roxo">Ver Professores</a>
        </div>
        <div class="card-wrapper">
            <a href="#" class="card card-link">
                <i class="far fa-clock mb-3"></i>
                <h2>Cadastro de Horário</h2>
            </a>
            <a href="" class="btn btn-roxo">Ver Horários</a>
        </div>
    </div>
</body>
</html>
